<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱记账-登录-永久免费的在线记账本</title>
    <meta name="description" content="爱记账是永久免费的在线记账网站，为爱好理财的朋友们提供免费的记账服务，通过在线理财的方式使生活变得更美好。">
    <meta name="keywords" content="记账,记账本,理财,消费记录,在线记账,在线理财,白领记账,白领理财,爱记账,i记账">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="../static/css/global.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reg.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-3.4.2.min.css}">
    <script th:src="@{https://hm.baidu.com/hm.js}"></script>
    <script th:src="@{http://libs.baidu.com/jquery/2.0.0/jquery.min.js}" charset="utf-8"></script>
    <style>
        html, body {
            height: 100%;
        }

        iframe {
            height: 100%;
        }
    </style>
    <link rel="stylesheet" th:href="@{/js/member/layer-v3.0.3/skin/default/layer.css(v=3.0.3303)}" id="layuicss-skinlayercss">
</head>
<body style="min-width: 1200px;" data-gr-c-s-loaded="true">
<div id="header">
    <div class="headerlogin-cen">
        <!-- <div class="fl"><a href="/index/about/cooperation" >联系电话：</a>0755-84355709、13510764242</div>
        <a href="/index/about">关于爱记账</a> | <a href="/index/product">产品介绍</a> | <a href="/index/thanks">感谢有你</a>  | <a href="/index/appdown">APP下载</a> -->
        <a th:href="@{/}" class="logo"><img th:src="@{/images/LOGO2.png}" alt="爱记账"/></a>
        <div class="head-btn">
            <!-- <a href="javascript:;" class="login-showpan head-btnlogin">登录</a>
            <a href="/passport/reg" class="head-btnreg">注册</a> -->
            <a href="javascript:" class="login-showpan head-btnlogin">登录</a>
            <a th:href="@{/passport/register}" class="head-btnreg">注册</a></div>
        <ul class="header-nav">
            <li class="cur"><a th:href="@{/}">首页</a></li>
            <li><a href="javascript:" class="login-showpan">我要记账</a></li>
            <li><a th:href="@{/product}">产品介绍</a></li>
            <li><a th:href="@{/about}">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="loginmain">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(-1903px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-prev"
                 data-swiper-slide-index="0" style="width: 1903px;">
                <div class="loginmain-cen">
                    <a th:href="@{/product}"
                       style="background-image:url('/images/pc_backimage/1508396370ajzhanLife-Banner.png');background-position: center center;display: block;height: 100%"></a>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-active swiper-slide-duplicate-next swiper-slide-duplicate-prev"
                 data-swiper-slide-index="0" style="width: 1903px;">
                <div class="loginmain-cen">
                    <a th:href="@{/product}"
                       style="background-image:url('/images/pc_backimage/1508396370ajzhanLife-Banner.png');background-position: center center;display: block;height: 100%"></a>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-next"
                 data-swiper-slide-index="0" style="width: 1903px;">
                <div class="loginmain-cen">
                    <a th:href="@{/product}"
                       style="background-image:url('/images/pc_backimage/1508396370ajzhanLife-Banner.png');background-position: center center;display: block;height: 100%"></a>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
    </div>
    <!--  -->
    <!-- </div> -->
    <div class="login-iconW">
        <ul class="login-icon fix">
            <li><i class="lgicon1"></i>
                <h2>安全</h2>
                <p>不可逆算法加密</p></li>
            <li><i class="lgicon2"></i>
                <h2>私密</h2>
                <p>免实名的私人档案</p></li>
            <li><i class="lgicon3"></i>
                <h2>灵活</h2>
                <p>随时切换记账模式</p></li>
            <li><i class="lgicon4"></i>
                <h2>简单</h2>
                <p>快速注册仅需3秒</p></li>
        </ul>
    </div>

    <!-- 留言部分 -->
    <div class="feedbackW">
        <div class="feedback">
            <h2>
                <span class="small">超 </span><span class="strong">1,000,000</span><span class="small"> 人的选择</span>
            </h2>
            <ul>
                <li class="fix">
                    <div class="feedHead">
                        <img class="feedHead-img" th:src="@{/upload/user/1513588483.jpg}" alt="">
                        <div class="feedHead-name">李铁壮</div>
                        <div class="feedHead-address">山西 教师</div>
                    </div>
                    <div class="feedback-bubble">
                        我从2011年年初开始注册使用爱记账，至今已近7年，也算是一个老用户了吧。非常感谢爱记账网站给予我的莫大帮助，让我对自己的日常收入和支出了如指掌，并且做到了科学合理的规划。虽然日子过得平平淡淡，但是票子花得却是明明白白。经常听到周围有些同事说：“不知道每个月的钱都是怎么花的，反正挣了不少钱，最后是一笔糊涂账。”对比他们，我可真的算是“清清楚楚挣工资，明明白白花票子，稳稳当当过日子”。这一切的一切，都归功于你，我的理财大管家——爱记账！在此，深表谢意。
                    </div>
                </li>
                <li class="fix">
                    <div class="feedHead">
                        <img class="feedHead-img" th:src="@{/upload/user/1319090888.jpg}" alt="">
                        <div class="feedHead-name">麦子</div>
                        <div class="feedHead-address">广州 自由职业者</div>
                    </div>
                    <div class="feedback-bubble">总觉得每个月的资金很紧张，好像没怎么花，但又总是花了很多钱。要好好规划一下了，爱记帐很方便，也很清晰，我会坚持记帐的。</div>
                </li>
                <li class="fix">
                    <div class="feedHead">
                        <img class="feedHead-img" th:src="@{/upload/user/1319195793.jpg}" alt="">
                        <div class="feedHead-name">尤永康</div>
                        <div class="feedHead-address">上海 自由职业</div>
                    </div>
                    <div class="feedback-bubble">我的神啊，爱记账你要是女的我绝对娶你。</div>
                </li>
            </ul>
            <div class="w180 mgc">
                <a th:href="@{/about/thanks}" class="botton">查看更多</a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footerCon">
        <div class="footnav">
            <ul>
                <li>
                    <a href="https://www.ajzhan.com/index/about" class="footit">关于我们</a><br>
                    <a href="https://www.ajzhan.com/index/product">产品介绍</a><br>
                    <a href="https://www.ajzhan.com/index/help">帮助中心</a>
                </li>
                <li>
                    <a href="https://www.ajzhan.com/index/about/cooperation" class="footit">联系我们</a><br>
                    <a href="https://www.ajzhan.com/index/about/link">友情链接</a>
                </li>
            </ul>
        </div>
        <div class="footewm">
            <ul class="footpublic">
                <li>
                    <img th:src="@{/images/wexin.jpg}" alt="微信公众号">
                    <p>微信公众号</p>
                </li>
                <li>
                    <img th:src="@{/images/appdown/appdown-ewm.png}" alt="i记账APP">
                    <p>i记账APP</p>
                </li>
            </ul>
        </div>
        <div class="footwork">
            <p>爱记账客服：（周一至周五9：00-18：00）</p>
            <p class="footwork-telB">0755-36800222</p>
            <p><span class="fl">官方QQ：</span>
            </p>
            <div style="overflow: hidden;">
                <span class="footwork-tel">1280680483（客服）</span>
                <br>
                <span class="footwork-tel">209690057（交流群）</span></div>
            <p></p>
            <p class="footwork-wb">官方微博：<a target="_blank" href="http://weibo.com/2017aijizhang"></a></p>
        </div>
    </div>
    <div class="footerBottom">
        <!-- Copyright 2010-2017 www.ajzhan.com. All Rights Reserved 粤ICP备17061707号-1 -->
        <a style="text-decoration:none;color:#999;" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright
            2010-2017 www.ajzhan.com. All Rights Reserved 粤ICP备17061707号-1</a>
    </div>
</div>
<script th:src="@{/js/member/layer-v3.0.3/layer.js}"></script>
<script th:src="@{/js/member/common.js}"></script>
<script th:src="@{/js/swiper-3.4.2.min.js}"></script>

<script>
    BrowserType();
</script>

<div style="display:none">

    <script type="text/javascript">

        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            observer: true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents: true,//修改swiper的父元素时，自动初始化swiper
            autoplay: 3000,
            speed: 800,
            loop: true
        });

        if (swiper.slides.length <= 3) {

            swiper.lockSwipes();
            $('.swiper-pagination').css('display', 'none');
        }
        ;

        $(".swiper-wrapper").mouseover(function () {
            swiper.stopAutoplay();
        })
        $(".swiper-wrapper").mouseout(function () {
            swiper.startAutoplay();
        })

    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f63eb839f43fdd479219b949a5ee2fcc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
</body>
</html>