<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>爱记账-关于我们-永久免费的在线记账本</title>
    <meta name="description" content="爱记账是永久免费的在线记账网站，为爱好理财的朋友们提供免费的记账服务，通过在线理财的方式使生活变得更美好。">
    <meta name="keywords" content="记账,记账本,理财,消费记录,在线记账,在线理财,白领记账,白领理财,爱记账,i记账">

    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="../static/css/global.css">
    <link th:href="@{/help/css/index.css}" href="../static/help/css/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/js/member/layer-v3.0.3/skin/default/layer.css}"
          href="../static/js/member/layer-v3.0.3/skin/default/layer.css" id="layuicss-skinlayercss">
    <script th:src="@{http://libs.baidu.com/jquery/2.0.0/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/index.js}" charset="utf-8"></script>
</head>

<body id="warp" data-gr-c-s-loaded="true" style="">
<div id="header">
    <div class="headerlogin-cen">
        <!-- <div class="fl"><a href="/index/about/cooperation" >联系电话：</a>0755-84355709、13510764242</div>
        <a href="/index/about">关于爱记账</a> | <a href="/index/product">产品介绍</a> | <a href="/index/thanks">感谢有你</a>  | <a href="/index/appdown">APP下载</a> -->
        <a th:href="@{/}" class="logo"><img th:src="@{/images/LOGO2.png}" alt="爱记账"/></a>
        <div class="head-btn">
            <!-- <a href="javascript:;" class="login-showpan head-btnlogin">登录</a>
            <a href="/passport/reg" class="head-btnreg">注册</a> -->
            <a href="javascript:" class="login-showpan head-btnlogin">登录</a>
            <a th:href="@{/passport/register}" class="head-btnreg">注册</a></div>
        <ul class="header-nav">
            <li><a th:href="@{/}">首页</a></li>
            <li><a href="javascript:" class="login-showpan">我要记账</a></li>
            <li><a th:href="@{/product}">产品介绍</a></li>
            <li class="cur"><a th:href="@{/about}">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="aboutbanner">
</div>

<div class="aboutcon fix">
    <div class="aboutleft">
        <ul>
            <li><a>About Us</a></li>
            <li><a th:href="@{/about}">关于我们</a></li>
            <li><a th:href="@{/about/manage}" class="cur">管理团队</a></li>
            <li><a th:href="@{/about/thanks}">感谢有您</a></li>
            <li><a th:href="@{/about/cooperation}">合作联系</a></li>
            <li><a th:href="@{/about/link}">友情链接</a></li>
        </ul>
    </div>
    <!--管理团队-->
    <div class="aboutright">
        <h2><span>管理团队</span></h2>
        <p>核心管理团队来自投行、银行、证券、互联网等多个领域专家，并参与过国内多家知名上市公司的早中期创业！拥有丰富的行业经营及团队管理经验。</p>
        <p></p>
        <p></p><br>

        <dl>
            <dt><img th:src="@{/help/images/201412161901.png}" width="135" height="162" alt=""></dt>
            <dd><h3>肖水龙先生 <i>/ 董事长</i></h3>同济大学材料学学士及管理硕士，美国纽约城市大学金融投资进修一年
                肖水龙是中国创投委2012年度“卓越投资家”（金奖）获得者，至今主持投资案例逾50个。自1988年6月起，肖水龙在深圳国际信托投资公司（深国投）工作二十年，熟悉金融信托、股权投资、地产开发、地产基金、BT基金、并购基金、企业管理，拥有丰富的创业投资及地产基金业务经验和广泛的投资业务资源。
            </dd>
        </dl>
        <dl>
            <dt><img th:src="@{/help/images/201412161902.png}" width="135" height="135" alt=""></dt>
            <dd><h3>陈康先生 <i>/ 创始人兼CEO</i></h3>
                注册会计师，中国人民大学管理学学士，北京大学经济学硕士，具有8年以上金融行业产品 研发和市场推广经验。曾先后就职于华润深国投信托有限公司、中科创金融控股集团、百城
                基金管理（深圳）有限公司，具有4年阳光私募产品研究和运营管理经验，4年财富管理行业 产品研发和市场推广经验。
            </dd>
        </dl>
        <dl>
            <dt><img th:src="@{/help/images/201412161903.png}" width="135" height="135" alt=""></dt>
            <dd><h3>韩宇宙先生 <i>/ CIO</i></h3>
                中国早期个人站长，1999年为腾讯进行网络社交管理服务，2001年正式加盟成为腾讯首位 高级产品经理（工号66号）。参与腾讯早期创业至上市，曾负责QQ聊天室、QQ论坛、QQ.
                com、QQ秀等核心业务。2007年起参与迅雷、有伴网的早期创业，2011年创办深圳钧润 达科技有限公司，15年以上互联网从业经验。
            </dd>
        </dl>
        <dl>
            <dt><img th:src="@{/help/images/201412161904.png}" width="135" height="135" alt=""></dt>
            <dd><h3>林政先生 <i>/ 联合创始人</i></h3>
                加拿大维多利亚大学工程系学士；拥有英国威尔士大学商学院工商管理硕士（MBA）学位， 有11年以上金融行业技术支持、产品研发和市场推广经验。曾就职于招商证券股份公司，负
                责后台数据库的客户数据管理与分析，熟知证券客户各种操作行为与习惯。实战研究全球各 大指数和各大宗商品期货，并且留下了不少成功操作的案例。参与过银行贷款业务、信托、
                第三方理财以及公司融资项目。了解小额贷款基金公司以及相关联行业的运作并熟悉其管理。
            </dd>
        </dl>
        <dl>
            <dt><img th:src="@{/help/images/201412161905.png}" width="135" height="135" alt=""></dt>
            <dd><h3>韦添誉先生 <i>/ 联合创始人</i></h3>
                深圳电子技术学校毕业，具有14年以上金融行业产品研发和财富管理经验。2000年起任职 于交通银行深圳分行信息技术部，参与电话银行、网上银行、手机银行、核心账务系统的设
                计、开发及维护；2007年创办快E理财网；2009年任职深圳首批三方公司；2011年合伙创 办华宸财富；2012年团队成功被深圳市小额贷款龙头企业中安信业收购；2013加盟康宏金
                融集团（HK1019），担任旗下深圳财富管理中心总经理。
            </dd>
        </dl>
        <dl>
            <dt><img th:src="@{/help/images/201412161906.png}" width="135" height="135" alt=""></dt>
            <dd><h3> 高啸先生 <i>/ 联合创始人</i></h3>
                电子科技大学网络工程学士，具有7年以上软件推广经验，曾就职于成都索贝数码科技股份公 司（索尼集团成员企业）。创建深圳宏信创信息技术有限公司，具有3年以上手机软件研发管 理和推广经验。
            </dd>
        </dl>

    </div>
    <div class=" clear"></div>
</div>

<div id="footer">
    <div class="footerCon">
        <div class="footnav">
            <ul>
                <li>
                    <a href="https://www.ajzhan.com/index/about" class="footit">关于我们</a><br>
                    <a href="https://www.ajzhan.com/index/product">产品介绍</a><br>
                    <a href="https://www.ajzhan.com/index/help">帮助中心</a>
                </li>
                <li>
                    <a href="https://www.ajzhan.com/index/about/cooperation" class="footit">联系我们</a><br>
                    <a href="https://www.ajzhan.com/index/about/link">友情链接</a>
                </li>
            </ul>
        </div>
        <div class="footewm">
            <ul class="footpublic">
                <li>
                    <img th:src="@{/images/wexin.jpg}" alt="微信公众号">
                    <p>微信公众号</p>
                </li>
                <li>
                    <img th:src="@{/images/appdown/appdown-ewm.png}" alt="i记账APP">
                    <p>i记账APP</p>
                </li>
            </ul>
        </div>
        <div class="footwork">
            <p>爱记账客服：（周一至周五9：00-18：00）</p>
            <p class="footwork-telB">0755-36800222</p>
            <p><span class="fl">官方QQ：</span>
            </p>
            <div style="overflow: hidden;">
                <span class="footwork-tel">1280680483（客服）</span>
                <br>
                <span class="footwork-tel">209690057（交流群）</span></div>
            <p></p>
            <p class="footwork-wb">官方微博：<a target="_blank" href="http://weibo.com/2017aijizhang"></a></p>
        </div>
    </div>
    <div class="footerBottom">
        <!-- Copyright 2010-2017 www.ajzhan.com. All Rights Reserved 粤ICP备17061707号-1 -->
        <a style="text-decoration:none;color:#999;" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright
            2010-2017 www.ajzhan.com. All Rights Reserved 粤ICP备17061707号-1</a>
    </div>
</div>
<script th:src="@{/js/member/layer-v3.0.3/layer.js}"></script>
<script th:src="@{/js/member/common.js}"></script>


</body>
</html>